/*
Theme Name: emettam
Theme URI: http://emettam.com/
Author: http://emettam.com/
Author URI: http://emettam.com/
Description: Its a custom theme made for http://emettam.com/
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: on-ready
Text Domain: emettam

*/
body{
	font-family: hirakupro;
}
a:hover{
	text-decoration: none
}
.mobile_nav_toggle {
	display: none
}
.devider {
	float:left;
	width: 100%;
	overflow: hidden
}
.text_with_10px_padding {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #535252;
	font-size: 12px;
	padding-left: 30px;
	padding-right: 30px;
}
.header_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header_menu ul li {
	display: inline-block;
	border-right: 1px solid #cbcbcb;
	padding: 5px 40px;
}
.header_menu ul li a {
	position: relative;
	border-bottom: 2px solid transparent;
	padding-bottom: 5px;
	font-size: 14px;
}

.header_menu ul li.active a {
	border-bottom: 2px solid #9e8758;
}
.header_menu ul li:hover a{
	border-bottom: 2px solid #9e8758;
}
.header_menu {
  text-align: center;
}

.nav_area {
	margin: 15px 0px;
	margin-top: 30px;
}
.header_menu ul li a {
  display: block;
  color: #333;
}
.header_menu ul li:first-child {
  border-left: 1px solid #cbcbcb;
}
.logo {
	padding: 20px 0px;
}
.logo a {
	color: #fff;
	background: #9e8758;
	font-size: 27px;
	padding: 10px;
}
.banner_area {
	background: url('assets/images/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 550px;
}
.banner_text {
	padding: 60px 0px;
	height: 100%;
	font-size: 36px;
	padding-bottom: 0px;
	font-weight: 700;
	color: #fff;
	line-height: 40px;
	text-align: right;
	margin-bottom: 50px;
}
.search_query_area {
	margin-top: 20px;
	position: relative;
	z-index: 6;
	width: 550px;
}
.search_query_area:after {
  position: absolute;
  left: 0;
  content: "";
  background: #ddd;
  content: "";
  opacity: 0.9;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}
.search_header {
	background: #9e8758;
	color: #fff;
	margin: 0;
	padding: 10px;
	font-size: 16px;
}
.search_body li {
	list-style: none;
	display: inline-block;
	margin: 5px;
	color: #333;
	background: #fff;
}
.search_body li a {
	color: #9e8758;
	font-size: 20px;
}

/*  Footer Area Styles */
.footer_area{
	background: #9e8758;
	padding-top: 50px;
	color: #fff
}
.footer_header {
	margin-bottom: 30px;
}
.footer_area ul {
	list-style: none;
	padding: 0px;
}
.footer_area a {
	color: #fff
}
.footer_menu_area {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 40px;
	font-weight: 700;
}
.footer_text_area {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 30px;
}
.footer_menu_area ul li {
	display: block;
	padding: 5px 0px;
}
.copyright_text {
	margin-bottom: 70px;
	margin-top: 30px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer_text_area p {
	line-height: 27px;
}
.single_content_box {
	margin-bottom: 30px;
	float: left;
	width: 100%;
	margin-top: 30px;
}
.content_header_unique {
  margin-bottom: 30px;
  text-align: center;
  color: #9e8758;
  font-size: 18px;
  position: relative;
}
.content_header_unique:after {
  width: 30%;
  height: 1px;
  background: #9e8758;
  left: 0;
  content: "";
  position: absolute;
  top: 11px;
}
.content_header_unique:before {
  width: 30%;
  height: 1px;
  background: #9e8758;
  right: 0;
  content: "";
  position: absolute;
  top: 11px;
}
.single_carouesel {
	border: 1px solid #ddd;
}
.single_carouesel img {
	height: 200px;
	width: 100%;
}
.crsl_title {
	margin-top: 15px;
	font-weight: 700;
	padding: 5px 10px;
}
.crsl_title span {
	font-size: 12px;
	margin-right: 10px;
}

.ratings ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ratings ul li {
  display: inline-block;
  color: #e7bd73;
}
.ratings {
	padding: 5px 10px;
}
.butttons {
  text-align: center;
}
.butttons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.butttons ul li {
  display: inline-block;
  margin: 0px 10px;
}
.butttons li a {
  background: #000;
  color: #fff;
  padding: 5px 10px;
  display: block;
  border-radius: 5px;
  font-size: 11px;
}
.main_btn a {
	background: red;
	color: #fff;
	padding: 10px 25px;
	display: inline-block;
	border-radius: 5px;
}
.main_btn {
	text-align: center;
	margin: 20px 0px;
}
.times {
	padding: 0px 10px;
	margin-bottom: 10px;
	font-weight: 600;
}
.times span {
	color: red;
}

.carousel_area {
  position: relative;
  padding: 0px 35px;
}
.owl-dots {
}
.owl-nav {
  position: absolute;
  top: 45%;
  width: 100%;
}
.owl-nav button span {
  background: #e7bd73;
  font-size: 34px;
  color: #fff;
  display: inline-block;
  padding: 5px 9px;
}
.owl-nav button:last-child {
  position: ;
  right: ;
  text-align: ;
  display: ;
  float: right;
}
.owl-nav button:first-child {
	margin-left: -35px;
}
.owl-nav button:last-child {
	margin-right: -35px;
}
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #D6D6D6;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span {
	background: #e7bd73;
}
.owl-dots {
	margin: 20px 0px;
	text-align: center;
}

.map_box {
  text-align: center;
  padding: 35px;
}
.map_box img {
  width: 100%;
}
.see_more {
	margin-bottom: 20px;
}
.see_more a{
	color: #9e8758;
}
.header_diff {
	padding: 15px 20px;
	background: #11273a;
	color: #fff;
	font-size: 20px;
	text-align: center;
	font-weight: 700;
}
.blog_area {
	padding: 40px 20px;
	background: #eeeeee;
	display: inline-block;
	width: 100%;
}
.blog_area a {
	color: #000
}
.blog_title {
	padding: 5px 0px;
	font-size: 15px;
	font-weight: 700;
}
.blog_desc {
	font-size: 15px;
	margin-bottom: 12px;
	line-height: 25px;
}
.blog_thumb img {
	width: 100%;
}
.blog_content {
	background: #fff;
	padding: 20px;
}
.blog_content {
	background: #fff;
	padding: 20px;
}
.img_widget img {
	width: 100%;
}

.cta_box {
  background: #1b3247;
  padding: 20px;
  display: inline-block;
  width: 100%;
}
.cta_img {
  width: 60%;
  float: left;
}
.cta_content {
  float: left;
  width: 40%;
  padding: 15px;
}
.cta_img img {
  width: 100%;
}
.cta_header {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.cta_btn_class a {
  display: inline-block;
  color: #fff;
  background: red;
  padding: 10px 40px;
  border-radius: 7px;
  font-weight: 700;
}
.cta_btn_class {
  padding-top: 32px;
  position: relative;
  text-align: center;
}
.small_btn {
  background: #9e8758;
  position: absolute;
  top: 7px;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  left: 75px;
}

.img_widget .cta_img {
  width: 100%;
}
.img_widget .cta_img img {
  width: 100%;
  height: 150px;
}
.img_widget .cta_img .cta_content {
  width: 100%;
}
.img_widget .cta_content {
  width: 100%;
}
.img_widget .small_btn {
  left: 15px;
}
.img_widget .cta_header {
	 font-size: 14px;
}
.ma_widget {
	margin-bottom: 30px;
}
.widget_body {
	border: 1px solid #9e8758;
	
}
.widget_btn {
	padding: 15px 25px;
	background: #fff;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 10px;
	margin: 45px 0px;
	color: #9e8758
}
.bookmark_widget_header {
	padding: 10px;
	background: #9e8758;
	margin-bottom: 20px;
	font-weight: 700;
	color: #fff;
	text-align: center;
}
.bookmark_widget {
	border: 1px solid #9e8758;
	padding: 20px;
	display: inline-block;
	width: 100%;
}
.widget_bottom_header {
  background: #fff;
  padding: 20px 10px;
}
.bkmrk_left {
	width: 85%;
	float: left;
}
.bkmrk_right {
	float:left;
	width: 15%;
}
.widget_bottom_header a {
	color: #9e8758;
}
.bkmrk_left img {
	width: 130px;
	margin-bottom: 10px;
}
.bkmrk_ratings {
	padding: 5px 0px;
}
.bkmrk_ratings span {
	color: #9e8758;
	font-size: 17px;
}
.bkmrk_ratings  {
	color: red;
}
.bkmrktimes {
	font-weight: 700;
}
.single_widget {
	padding: 10px;
	margin-bottom: 10px
}

.crown {
  padding: 0px 5px;
  margin-bottom: 10px;
}
.crown img {
  margin-right: 10px;
  width: 35px;
}
.crown {
  font-weight: 700;
  padding-top: 10px;
}
.left_side_rest {
  float: left;
  width: 60%;
}
.right_side_rest {
  float: left;
  width: 40%;
}
.right_side_rest {
}
.right_side_rest img {
  width: 100%;
  height: 100px;
}
.rest_text {
	font-weight: 700;
	line-height: 22px;
	padding: 6px 10px;
}
.single_rest_area {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	background: #fff;
}
.rest_area {
	background: #eee;
}

.main_form {
	float: right;
	max-width: 450px;
	position: relative;
	margin-top: 20px;
	z-index: 1;
	padding: 14px;
	margin-bottom: 30px;
}
.main_form:after {
  position: absolute;
  background: #1b3247;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  left: 0;
  top: 0;
  opacity: 0.6;
}
.form_box {
  display: inline-block;
  width: 100%;
  background: #e6e8ea;
  position: relative;
  z-index: 5;
}
.form_box:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  content: "";
  opacity: 0.3;
  height: 100%;
  z-index: -1;
}
.form_header {
  text-align: center;
  padding: 20px 8px;
  font-weight: 700;
  color: #9e8758;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
}
.single_row {
  display: inline-block;
  width: 100%;
  padding: 5px 40px;
}
.single_row .col-md-3 {
	text-align: center;
	font-weight: 300;
	padding: 5px;
	font-size: 13px;
}
.col-md-9 .col-md-6:last-child {
	padding-right: 0px;
}
.single_row input {
	width: 100%;
	border: 1px solid #eee;
	padding: 5px 10px;
	border-radius: 8px;
}
.single_row {
}

.single_row .col-md-8 {
  margin-left: 0;
  padding-left: 0;
}
.single_row .col-md-6 {
	padding: 0px 5px;
	padding-left: 0;
}
.form_btn {
	color: #fff;
	background: red;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 5px;
	margin: 10px 0px;
	margin-bottom: 33px;
	font-weight: 700;
	font-size: 15px;
}
.form_btn:hover {
	color:#fff
}

.header_banner {
  background: #333;
  width: 475px;
  float: right;
}

h2 {
}
.header_banner h2 {
  color: #fff;
  font-size: 18px;
  text-align: ;
  padding: 0;
  margin: 0;
  padding-bottom: 8px;
}
.header_banner {
  padding: 10px;
}
.header_banner img {
  width: 100%;
}
.section_area_area h1 {
	font-size: 26px;
	color: #535252;
	margin-bottom: 36px;
	margin-top: 0px;
	padding: 0px 10px;
}
.img_gal ul {
	list-style: none;
	padding: 0;
}
.img_gal ul li {
	display: inline-block;
}
.img_gal ul li img {
	width: 100%;
}
.section_contents {
	padding: 35px 40px;
	background: #f6f4ef;
	display: inline-block;
	width: 100%;
}
.single_content .col-md-5 {
	padding-left: 0px;
}
.single_content {
	background: #fff;
	padding: 7px;
	border-left: 1px solid #e5e3de;
	border-bottom: 1px solid #e5e3de;
	margin-bottom: 20px;
	float: left;
	width: 100%;
}
.img_gal ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.img_gal ul li {
	display: inline-block;
	height: 190px;
	float: left;
	width: 100%;
}


.img_gal ul li {
	display: inline-block;
	height: 190px;
	float: left;
	width: 100%;
}
.img_gal ul li img {
	width: 100%;
	height: 100%;
}
.img_gal ul li:first-child {
	height: 180px;
	margin-bottom: 5px;
}
.img_gal ul li:nth-child(2) {
	display: inline-block;
	width: 49%;
	float: left;
	margin-right: 2%;
	height: 92px;
}
.img_gal ul li:nth-child(3) {
	float: left;
	width: 49%;
	height: 92px;
}
.list_item_btns {
	padding: 10px 0px;
	padding-left: 30px;
}
.single_content_area h1 {
  font-size: 20px;
  color: #3a3aec;
  line-height: 20px;
  margin-top: 30px;
}
.single_content_area {
  padding: 0px 5px;
}
.single_time_and_ratings {
  padding: 10px 10px;
}
.single_time_and_ratings span:nth-child(2) {
  padding-right: 20px;
}
.single-content_btn {
  text-align: center;
  margin-top: 30px;
}
.single-content_btn a {
	display: inline-block;
	padding: 10px 40px;
	background: #d00212;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
	text-align: center;
}
.list_item_btns ul {
	line-height: ;
	list-style: none;
	padding: 0;
}
.list_item_btns ul li {
	display: inline-block;
}
.list_item_btns li a {
	color: #fff;
	background: #11273a;
	padding: 5px 28px;
	font-size: 12px;
	padding: ;
	border-radius: 5px;
	margin-right: 20px;
}
.search_query_area.area2 {
	margin-top: 0px;
}
.search_body {
	padding: 10px 10px;
}
.search_query_area.area2 .search_body li a {
	color: #9e8758;
	font-size: 15px;
	font-weight: 700;
}
.search_query_area.area2 .search_body li {
	list-style: none;
	display: inline-block;
	margin: 5px;
	color: #333;
	background: #fff;
	padding: 5px 10px;
	border-radius: 10px;
}
.ovrview_text {
	line-height: 50px;
	font-size: 16px;
}
.ovrview_btn_and_text {
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
}
.ovrview_btn_and_text .single-content_btn a {
	background: #ed4c0d;
}

.ovrview-area {
	background: #f6f4ef;
	padding: 20px;
	float: left;
	width: 100%;
	margin-bottom: 50px;
}
.over_view_header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.over_view_header ul li {
  display: inline-block;
  width: 30%;
  background: #fff;
  margin: 0px 10px;
}
.over_view_header {
  text-align: center;
  border-bottom: 10px solid #9e8758;
  margin-bottom: 10px;
}
.over_view_header ul li a {
  font-size: 16px;
  color: #9e8758;
  display: inline-block;
  padding: 10px 9px;
  border: 2px solid #9e8758;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0px;
}
.over_view_header ul li.ovractive a{
	background: #9e8758 !important;
	color: #fff
}
.overview_content_highlight {
	margin-top: 50px;
	margin-bottom: 40px;
	border-left: 5px solid #9e8758;
	padding-left: 10px;
	font-size: 18px;
	color: #535252;
	float: left;
	width: 100%;
}
.overview_cotent_table {
	float: left;
	width: 100%;
	border: 1px solid #9e8758;
	margin-bottom: 10px;
}
.overview_single_content {
	display: table;
	width: 100%;
	background: #fff;
	
}
.overview_single_content:last-child {
	border-bottom: 0px;
}
.overview_single_content_left {
	display: table-cell;
	width: 40%;
	vertical-align: middle;
	padding: 10px 30px;
	text-align: right;
	font-size: 16px;
	border-right: 2px solid #9e8758;
	color: #535252;
	border-bottom: 1px solid #ece7de;
}
.overview_single_content_left.bg {
	background: #f3e7ca;
	text-align: center;
	border-bottom: 1px solid #c5b79b;
	border-top: 1px solid #c5b79b;
	color: #9e8758;
}
.overview_single_content_right {
	display: table-cell;
	width: 60%;
	padding: 10px;
	color: #535252;
	border-bottom: 1px solid #ece7de;
	padding-left: 15px;
}
.border_top_bottom {
	border-bottom: 1px solid #c5b79b;
	border-top: 1px solid #c5b79b;
}
.overview_footer {
	padding-bottom: 30px;
	color: #535252;
	padding-top: 15px;
	float: left;
	width: 100%;
}
.left i {
	width: 30px;
	height: 30px;
	margin-top: -10px;
	font-size: 30px;
}
.left i ,.right i{
	width: 30px;
	height: 30px;
	margin-top: -10px;
	font-size: 30px;
	top: 49%;
	position: absolute;
}
.carousel_area2 {
	float: left;
	width: 100%;
	height: 350px;
	margin-bottom: 15px;
}
#carousel-example-generic,#carousel_again,.item  {
	height: auto;
}
.fav-text {
	font-size: 16px;
	color: #535252;
	line-height: 25px;
	float:left;
	width: 100%;
}

.table-responsive.myTable {
	float: left;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.myTable thead {
  background: #f3e7ca;
}
.myTable th {
  border: 2px solid #ae9a73 !important;
}
.myTable th {
  text-align: center;
}
.myTable td {
  border: 2px solid #ae9a73;
  text-align: center;
}
.fav-content_area {
	float: left;
	width: 100%;
}
.fav-content_area h2 {
	color: #535252;
	font-size: 18px;
	border-bottom: 2px solid #cabda3;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.my_map_area {
	height: 550px;
	float: left;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.my_map_area  iframe {
	width: 100%;
	height: 100%;
}
.stats h3 {
	font-size: 15px;
	color: #535252;
	margin-bottom: 20px;
}
.stats img {
	width: 100%;
}
.blog_area a {
	color: #000;
	padding-right: 20px;
	display: inline-block;
}



/* pranay code  */
.hidden-rating-image {
	width: 37px;
	margin-top: -54px;
	display: none;
	margin-left: -2px;
}

	/*

	<?php //wp_nav_menu(array(
		'theme_location' => 'primary' ,
		'menu_class' => 'mobile_version'));
	 ?>

	 */
