@media only screen and (min-width:992px) and (max-width:1280px){
	
}
@media only screen and (min-width:768px) and (max-width: 991px){
	.single_sidebar_contnet {
		float: left;
		width: 100%;
		clear: both;
	}
	.section_area_area h1 {
	margin-bottom: 10px;
	}
	.over_view_header ul li {
		display: inline-block;
		width: 28%;
	}
	.header_menu ul li {
		display: inline-block;
		border-right: 1px solid #cbcbcb;
		padding: 5px 10px;
	}
	.header_banner {
		background: #333;
		width: auto;
		float: right;
	}
	.logo a {
		color: #fff;
		background: #9e8758;
		font-size: 18px;
		padding: 10px;
	}
	.single-content_btn a {
		width: auto !important;
		font-size: 16px !important;
	}
	.single_content_area h1 {
	float: left;
	width: 100%;
}

}

@media only screen and (max-width:767px){
.text_with_10px_padding {
	padding: 10px;
}
.logo img {
	width: 200px;
}
.logo {
	padding: 10px 0px;
}
.header_banner {
	display: none;
}
.nav_area.devider {
	display: none;
}
.mobile_nav_toggle {
		display: inline-block;
}
.mobile_nav_toggle i {
	font-size: 28px;
}
.logo_and_banner_area {
	background: #9e8758;
}
.logo img {
	width: 200px;
	padding: 10px 0px;
}
.mobile_nav_toggle {
	display: inline-block;
	float: right;
}
.mobile_nav_toggle a {
	color: #9e8758;
	background: #fff;
	padding: 11px;
	display: inline-block;
	border-radius: 6px;
}
.area2 {
	
}
.main_form {
	display: none;
}
.banner_area  {
	height: 250px;
}
.banner_text {
	color: #fff;
	text-align: center;
}
.content_header_unique::after {
	height: 0px;
}
.content_header_unique::before {
	height: 0px;
}
.banner_area.devider {
	min-height: 750px !important;
}
.nav_area.open  {
	margin: 0px;
}
.nav_area.open {
	display:block;
}
.header_menu li {
	display: block !important;
	border: 0px !important;
}
.header_menu {
	text-align: center;
	position: absolute;
	width: 100%;
	background: #fff;
	left: 0;
	z-index: 99
}
.cta_img {
	width: 100%;
	float: left;
}
.cta_content {
	float: left;
	width: 100%;
	padding: 15px;
}
.blog_area {
	padding: 20px 0px;
}
.carousel_area {
	position: relative;
	padding: 0px 10px;
}
.map_box {
	text-align: center;
	padding: 0px;
}
.single_content_area h1 {
	font-size: 20px;
	color: #3a3aec;
	line-height: 20px;
	float: left;
	width: 100%;
}
.section_contents {
	padding: 10px 5px;
	background: #f6f4ef;
	display: inline-block;
	width: 100%;
}
.single_content {
	display:block
}
.logo a {
	color: #fff;
	background: #9e8758;
	font-size: 17px;
	padding: 10px 0px;
	margin-top: 0px;
	display: inline-block;
}
.mobile_nav_toggle a {
	color: #9e8758;
	background: #fff;
	padding: 5px 10px;
	display: inline-block;
	border-radius: 5px;
	font-size: 25px;
}
.nav_toggle.nav_toggletext {
	float: left;
	font-size: 8px;
	height: 45px;
	margin-right: 11px;
	width: 45px;
	text-align: center;
	line-height: 16px;
}
.nav_toggle.nav_toggletext {
	float: left;
	font-size: 8px;
	height: 47px;
	margin-right: 11px;
	width: 45px;
	text-align: center;
	line-height: 18px;
}
.single_content .col-md-5, .col-md-7 {
	padding: 0;
}
.list_item_btns li a {
	margin-right: 5px;
}
.list_item_btns {
	padding-left: 0px;
}
.single-content_btn {
	margin-bottom: 20px;
}
.single-content_text {
	word-wrap: break-word;
}
.search_query_area.area2 {
	margin-top: 0px;
	padding: 0;
}
.search_query_area.area2 .search_body {
	padding: 10px;
}
.section_area_area h1 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 0px;
	padding: 0px 10px;
}
.single_sidebar_contnet {
	float: left;
	width: 100%;
	clear: both;
}
.section_content_area {
	float: left;
	width: 100%;
	overflow: hidden;
	clear: both;
}
.over_view_header ul li {
	display: inline-block;
	width: 28%;
	background: #fff;
	margin: 0px 5px;
}
.over_view_header ul li a {
	font-size: 10px;
	padding: 5px 0px;
	border: 2px solid #9e8758;
	width: 100%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 0px;
}
.overview_content_highlight {
	font-size: 14px;

}
.overview_content_highlight {
	margin-top: 25px;
	margin-bottom: 20px;
	border-left: 5px solid #9e8758;
	padding-left: 10px;
	font-size: 12px;
	color: #535252;
	float: left;
	width: 100%;
}
.overview_single_content_left,.overview_single_content_right {
	vertical-align: top;
	padding: 10px 5px
}
.ovrview-area {
	background: #f6f4ef;
	padding: 10px;
	float: left;
	width: 100%;
}
.logo a {
	font-size: 13px;
}

.nav_toggle.nav_toggletext {
	float: left;
	font-size: 9px;
	height: 40px;
	margin-right: 11px;
	width: 40px;
	text-align: center;
	line-height: 10px;
	padding: 5px 10px;
}
.mobile_nav_toggle a {
	color: #9e8758;
	background: #fff;
	padding: 5px 8px;
}
.single-content_btn a {
	min-width: auto !important;
	font-size: 14px !important;
}
.item img {
	height: 100% !important;
}
.fav-text {
	font-size: 16px;
	color: #535252;
	line-height: 25px;
	float:left;
	width: 100%;
}
.my_map_area {
	height: 350px;
	width: 100%
}

}

@media only screen and (min-width:320px) and (max-width: 480px){
	
}
